src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b640c421-f5f1-45de-9138-fcd322c5a97b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="fecf703f-508b-48f9-9e6b-fbf80442c382" >
		<http:listener doc:name="Listener" doc:id="498fa9f0-b560-4ae2-b0f8-5b6c8b707a51" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value="hello" doc:name="Set Payload" doc:id="f8f37658-b3a3-43e0-bdaf-122c944524a4" />
		<logger level="INFO" doc:name="Logger" doc:id="1fb138c7-09a1-43f4-a547-806168e2cf8c" message="#[payload]"/>
	</flow>
</mule>
